.Navbar {
	position: sticky;
	top: 0;
	left: 0;
	padding: 0px;
	margin: 0px;
	display: flex;
	user-select: none;
}

.NavbarSpace {
	display: block;
	flex-grow: 1;
	background-color: #00359F;
}

.NavbarElement {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-bottom: 9px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 9px;
	background-color: #00359F;
}

.NavbarElement:hover {
	background-color: #009F35;
}

.NavbarElementSelected {
	background-color: #009F35;
}

.NavbarElement a {
	text-decoration: none;
	color: #fff;
}
